@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  color: black;
  /* color: #333; */
  font-size: 16px;
}

p {
  font-size: 1.6vw; /* Example: 1.6% of the viewport width */
}

@keyframes fadeOut {
  0% { 
    opacity: 1;
  }
  100% { 
    opacity: 0; 
  }
}
